body{
    font-family: 'Roboto Slab', serif;
    
}
.navbar{
    width: 100%;
  height: 35vh;
  margin: auto;
  display: flex;
  align-items: center;
    
}
.logo{
    width: 160px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display:inline-block ;
    list-style:none;
    margin:30px 20px 30px 20px;
    padding-left: 160px;
    padding-bottom:120px;
    

}
nav ul li a{
    text-decoration: none;
    color: gray;
    
}
.color{
    color: navy;

}
#color-2{
    color: orange;
}

.top-banner{
    display: flex;
    margin-bottom: 100px;
}


.half-width{
    width: 45%;
    padding: 4%;
    
}

.half-width img{
    width: 80%;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(salmon,gray);
    padding: 10px 40px;
    border-radius: 35px;
    color: white;

}
.about-me{
    background-image: url(Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    
}

.recipies{
    text-align: center;
}

.add-image{
    display: flex;
     width: 10%;
    height: 400px;
    margin-left: 40px;
    padding-right:300px;
    padding-top:25px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}
.add-image img{
width: 200px;
height:200px ;
margin-left:140px;
border-radius: 10px;

}
.add-text{
    text-align: center;
    margin-left: 130px;
}
.add-text p{
    text-align: center;
    margin-left: 130px;
}
.foter{
    width: 50%;
    color: white;
    border-radius: 5px;
    background-color:black;
    border: 3px solid;
    padding: 60px 20px 40px 20px;
    margin: 80px 20px 20px 300px;
}
.last-menu{
    text-decoration: none;
    background-image: linear-gradient(cyan,gray);
     padding: 20px 40px;
     margin-left: 500px;
     border-radius: 10px;
      color: white;
}


